body{
  background-image: url("...\Project-1-ITMD362\images\anime.png");
  background-repeat: no-repeat;
  line-height: 1.25;
  font-size: 18px;
  color:#000000;
  text-align: left;
}	
form {
  color: black;
  background-color: #FFFFFF;
  padding: 7px 10px;
  margin: 7px 2%;
  border: 2px;
  border-radius: 3px;
}