body{
  background-image: url("../images/anime1.jpg");
  background-size: cover;
  font-family: "Tienne", 'Roboto', serif;
  font-style: normal;
  line-height: 1.2em;
  font-size: 18px;
  color:#000000;
  text-align: left;
}	

form {
  color: black;
  display: block;
  height: 300px;
  background-color: #D3F4FB;
  text-align: left;
  box-shadow: 0px 1px 10px #9DE3F6;
  padding: 3px 5px;
  margin: 200px auto;
  border: 2px;
  border-radius: 3px;
}

h1 {
  font-size: 30px;
  color: black;
  margin-bottom: 2%;
  text-align: left;
}

p{
  font-size: 20px;
  color: black;
  margin-bottom:2%;
  text-align: left;
}

.content{
  text-align: left;
  max-width:500px;
}

input[type="submit"] {
  background-color: #FFFFFF;
}

input[type="consent"]{
  margin: 3px;
}

input[type="email"]{
  box-sizing: border-box;
  width: 97%;
  background-color: #FFFFFF;
  display: block;
}

input[type="password"]{
  box-sizing: border-box;
  width: 97%;
  background-color: #FFFFFF;
}

@media (min-width: 324){
  body {
	display: block;
	font-size: 14px;
  }
  
  form {
	max-width: 70%;
  }
}

@media (min-width: 324){
  body {
	display: block;
	font-size: 16px;
  }
  
  form {
	max-width: 80%;
  }

  .content {
	margin: 25px;
	padding: 10px;
  }
}

@media (min-width: 1024px){
  body {
	display: flex;
	font-size:20px;
  }
  
  .content {
    max-width: 760px;
  }
}